*{
  font-family: 'Urbanist', sans-serif;
}
.individual{
  /* background-color: #0e2632; */
  /* height: auto;
  width: auto; */
  /* position: fixed; */
}
/* #nav{
  background-color: #88B0D7;
  width: 1264px;
  height: 75px;
  margin-top: 0;
  position: absolute;
}
#side{
  background-color: #233B6E;
  height: 515px;
  width: 70px;
  position: absolute;
  margin-top: 75px;
} */
/* #title{
  position: absolute;
  margin-left: 200px;
  margin-top: 140px;
  font-family: 'Urbanist', sans-serif;
  height: 30px;
  width: 180px;
  border-radius: 10px;
  background-color: #A4C4D2;
  text-align: center;
  font-size: larger;
  padding-top: 7px;
} */
/* #sample{
  position: absolute;
  margin-left: 47%;
  margin-top: 260px;
  font-family: 'Urbanist', sans-serif;
  font-size: larger;
}
#colon{
  position: absolute;
  margin-top: 20%;
  margin-left: 40.6%;
} */
/* #code{
      position: absolute;
      font-family: 'Urbanist', sans-serif;
      height: 30px;
      width: 170px;
      border-radius: 10px;
      background-color: #A4C4D2;
      text-align: center;
      font-size: larger;
      padding-top: 7px;
}
#file{
  position: absolute;
  margin-left: 270px;
  margin-top: 420px;
  font-family: 'Urbanist', sans-serif;
  height: 30px;
  width: 170px;
  border-radius: 10px;
  background-color: #A4C4D2;
  text-align: center;
  font-size: larger;
  padding-top: 7px;
  
} */
#sub{
  color: black;
}


h1{
  font-size: larger;
}


/* Existing styles */

.input-field {
  margin-bottom: 20px;
}

.input-field label {
  display: block;
  margin-bottom: 7px;
  background-color: #A4C4D2;
  border-radius: 15px;
  width: 200px; /* Adjust the width as needed */
  text-align: center;
  padding: 7px;
}

.input-field input {
  width: 300px;
  /* Add any other styling you need for the input boxes */
}

/* Add the following for the button */
.input-field button {
  background-color: #A4C4D2;
  border-radius: 15px;
  padding: 10px;
  color: black; /* Adjust the text color as needed */
}
label, input{
  display: inline;
}