* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parent-box{
  height: 100vh;
  width: 70px;
  background-color: #233B6E;    
}
.icon-box{
  /* top: 15%; */
  /* position: fixed;                 */
}
.icons{
  height: 65px;
  width: 45px;
  /* background-color: #233B6E; */
  /* border-radius: 50%; */
  margin:20px 10px ; 
  /* box-shadow: rgba(0.3, 0.3, 0.3, 0.3) 0px 3px 2px; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}
.icons:hover::after{
  color: white;
  font-size: 20px;
  position: absolute; 
  left: 70px;
  text-align: center;
  width: 140px;
  background-color: #233B6E;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding:5px ;
}
#icon-1{
  background-image: url(' https://res.cloudinary.com/dp6gegfek/image/upload/v1699447781/Tej/home-img_wc4n1x.png');
  background-size: contain; /* Adjust the value as needed */
  background-repeat: no-repeat;
  background-size: contain; /* Adjust the value as needed */
  background-repeat: no-repeat;
}
#icon-2{
  background-image: url('https://res.cloudinary.com/dp6gegfek/image/upload/v1699447781/Tej/tasks-img_qtdnyl.png');
  background-size: contain; /* Adjust the value as needed */
  background-repeat: no-repeat;
}
#icon-3{
  background-image: url('https://res.cloudinary.com/dp6gegfek/image/upload/v1699447781/Tej/projects-img_dc8x3o.png');
background-size: contain; /* Adjust the value as needed */
  background-repeat: no-repeat;
}
#icon-4{
  background-image: url('https://res.cloudinary.com/dp6gegfek/image/upload/v1699447781/Tej/groups-img_ns9bxi.png');
background-size: contain; /* Adjust the value as needed */
  background-repeat: no-repeat;
}
#icon-5{
  background-image: url('https://res.cloudinary.com/dp6gegfek/image/upload/v1699448722/Tej/image_63_lcnyj0.png');
background-size: contain; /* Adjust the value as needed */
  background-repeat: no-repeat;
}
#icon-6{
  margin-top: auto;
  margin-bottom: 10px;
  background-image: url('https://res.cloudinary.com/dp6gegfek/image/upload/v1699448716/Tej/exit_vbnkrq.png');
  /* margin-top: 200%; */

  background-repeat: no-repeat;
}
#icon-1:hover::after{
  content: "Home";
  top: 110px;    
}
#icon-2:hover::after{
  content: "Tasks";
  top: 190;
}
#icon-3:hover::after{
  content: "Projects";
  top: 280px;
}
#icon-4:hover::after{   
  content: "Mymentors";
  top: 360px;
}
#icon-5:hover::after{
  content: "Groups";
  top: 445px;
}
#icon-6:hover::after{
  content: "Logout";
  top: 660px;
}
.topbox{
position: absolute;
width: 100%;
height: 75px; 
background-color: #88B0D7;
top: 0%;
display: flex;  
justify-content: space-between;
}
.npicons{
  display: flex;
  justify-content: space-between;
}
.np{
  height: 70%;
  margin: 5% 3rem 0% 0%;
  cursor: pointer;

}
.logo1{
  height: 90%;
  width: 100%;
  padding: 0.5rem 0rem 0rem 4rem;
}